<html>
    <head>
        <meta charset="utf-8">
        <title>Betslap</title>
        <meta name="description" content="Da shit">
        <meta name="author" content="">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href='css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control input-lg" placeholder="Vem vill du utmana?" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h1>Matcher</h1>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Game</th>
                                <th>Bet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Man U - Chelsea</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Liverpool - Tottenham</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Blackburn - Newcastle</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Reading - Arsenal</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Man C - QPR</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Stoke - West Ham</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Aston Villa - Blackpool</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Man U - Chelsea</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Man U - Chelsea</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Man U - Chelsea</td>
                                <td><label>1</label><input type="checkbox"/><label>X</label><input type="checkbox"><label>2</label><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 challenge">
                    <h1>Din utmaning</h1>
                    <div class="row">
                        <div class="">
                            <img src="#"/>
                        </div>
                        <div>
                            <p>Utmanarens namn</p>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-info btn-lg" type="button">Skicka utmaning</button>
                    </div>
                </div>
            </div>
            <h1>Vad vill du statsa?</h1>
            <div class="row">
                <select class="selectpicker" data-size="5" style="">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                    <option>Mayonnaise</option>
                    <option>Barbecue Sauce</option>
                    <option>Salad Dressing</option>
                    <option>Tabasco</option>
                    <option>Salsa</option>
                </select>
            </div>
        </div>
    </body>
</html>