<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Betslap</title>
  <meta name="description" content="Da shit">
  <meta name="author" content="">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-8 black"> 
        <p>penis</p>
      </div>
      <div class="col-md-4 blue"> 
        <p>snopp</p>
      </div>
      <div class="row">
         <div class="col-md-4 blue"> 
        <p>snopp</p>
      </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- container -->

  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/brobook.js"></script>
</body>
</html>
