<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Betslap</title>
  <meta name="description" content="Da shit">
  <meta name="author" content="">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 oddsSports">
          <div class="oddsBorder">
              <p class="oddsborderText">Fotboll</p>
          </div>
          <div class="col-md-12 oddsLeague">
              <p class="oddsLeagueText">Premier League</p>
          </div>
          <div class="col-md-12 oddsGames">
            <p class="oddsGamesText">Manchester United - Liverpool</p>
            <div class="hideBet">
                <div class="col-md-12 oneXTwo">
                    <p class="col-md-4 bet1x2">1</p>
                    <p class="col-md-4 bet1x2">X</p>
                    <p class="col-md-4 bet1x2">2</p>
                </div>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="checkbox" autocomplete="off">2.30
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" autocomplete="off">3.04
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" autocomplete="off"> 2.56
                    </label>
                </div>
            </div>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">Arsenal - Crystal Palace</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">1.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">3.00</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">5.31</p></button>
                  </div>
              </div>
          </div>
          <div class="col-md-12 oddsLeague">
              <p class="oddsLeagueText">Primera Division</p>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">Elche CF - Real Sociedad</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                  </div>
              </div>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">Real Madrid - Atletico Madrid</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">1.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">3.00</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">5.31</p></button>
                  </div>
              </div>
          </div>
          <div class="col-md-12 oddsLeague">
              <p class="oddsLeagueText">Allsvenskan</p>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">AIK - Hammarby IF</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 oddsSports">
          <div class="oddsBorder">
              <p class="oddsborderText">Hockey</p>
          </div>
          <div class="col-md-12 oddsLeague">
              <p class="oddsLeagueText">NHL</p>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">Montreal Canadiens - Boston Bruins</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">1.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.08</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                  </div>
              </div>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">Detroit Red Wings - Calgary Flames</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                  </div>
              </div>
          </div>
          <div class="col-md-12 oddsLeague">
              <p class="oddsLeagueText">SHL</p>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">Växjö Lakers - Linköping HC</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">2.61</p></button>
                  </div>
              </div>
          </div>
          <div class="col-md-12 oddsGames">
              <p class="oddsGamesText">HV71 - Frölunda HC</p>
              <div class="hideBet">
                  <div class="col-md-12 oneXTwo">
                      <p class="col-md-4 bet1x2">1</p>
                      <p class="col-md-4 bet1x2">X</p>
                      <p class="col-md-4 bet1x2">2</p>
                  </div>
                  <div class="col-md-12 oneXTwoButtons">
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">1.61</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">3.00</p></button>
                      <button class="col-md-4 oneXTwoButton"><p class="oneXTwoText">5.31</p></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 oddsSports">
          <div class="betBorder">
              <p class="oddsborderText">Mina Bet</p>
          </div>
          <div class="col-md-12 coupon">
              <div class="couponContent">
                  <p class="couponGame">Montreal Canadiens - Boston Bruins</p>
                  <button type="submit" class="btn btn-primary btn-xs deleteButton">X</button>
                  <p class="fullTime">Full tid</p>
                  <p class="couponInfo">Boston Bruins</p>
                  <p class="couponOdds">2.61</p>
              </div>
          </div>
          <div class="col-md-12 coupon">
              <div class="couponContent">
                  <p class="couponGame">Arsenal - Crystal Palace</p>
                  <button type="submit" class="btn btn-primary btn-xs deleteButton">X</button>
                  <p class="fullTime">Full tid</p>
                  <p class="couponInfo">Oavgjort</p>
                  <p class="couponOdds">3.00</p>
              </div>
          </div>
          <div class="col-md-12 total">
              <div class="totalOdds">
                  <p class="totalText">Totalt Odds</p>
                  <p class="totalTextRight">7.83</p>
              </div>
              <div class="totalOdds">
                  <p class="totalText">Insats</p>
                  <input class="totalTextRight" id="betInput" type="text" placeholder="0 SEK" />
              </div>
              <div class="totalOdds">
                  <p class="totalText">Potentiell Vinst</p>
                  <p class="totalTextRight" id="totalWin">0 kr</p>
                  <button type="button" class="btn btn-primary btn-sm btn-block betButton">SPELA</button>
              </div>
          </div>
      </div>
    </div>
  </div>

  <script src="js/main.js" type="text/javascript"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
