<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Betslap</title>
    <meta name="description" content="Da shit">
    <meta name="author" content="">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BETSLAP</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Bets</a></li>
                <li><a href="#">Bajs</a></li>
                <li><a href="#">Four</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" data-toggle="modal" data-target="#registrera">Registrera</a>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#login">Login</a>
                </li>
                <li class="#"></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 picture">
            <img src="http://www.barnensbibliotek.se/portals/0/Foton/Ylva_Karlsson09.jpg">
            <h3 class="info_person">Ylva</h3>
            <h5>100 <i class="fa fa-leaf"></i></h5>
        </div>
        <div class="col-md-6 info">
                <div class="panel_header">
                    <strong>Your information</strong>
                </div>
                <div class="panel_info">
                    <p class="info_person">Mailadress: sotisylva@hastarbast.se</p>
                    <p class="info_person">Lösenord: *******</p>
                </div>

            <hr>

            <p id="change">Change your information  <i class="fa fa-cogs"></i></p>

        </div>



    </div> <!-- End Row -->
    <div class="row2">
        <div class="col-md-12 black">


            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">H2H</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Odds</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">Head to head vadslagning är kanske den mest traditionella formen av vadslagning. I head to head vadslagning, du i huvudsak satsa på resultatet av matchen, vinna, förlora och när det gäller fotboll, oavgjort.</div>
                    <div role="tabpanel" class="tab-pane" id="profile"><h3 class="info_person">1X2 BETTING EXEMPEL</h3>
                        Du har hittat ett spel du vill satsa på. Det råkar vara Premier League vadslagning som finns på din tallrik för denna kväll. Aston Villa - Newcastle är måndag kväll spelet och du planerar att möta upp med dina kompisar på puben. På vägen du går med spelbutiken och leta upp matchen i sin spelerbjudande. Den hemmaseger (1) är prissatt till 2,55. Dragningen är prissatt till 3,30 och bortaseger är 2,85. Om du väljer att satsa på Villa du tagit en 1 satsning. Om du satsar på oavgjort du gick för X, och om du gick för Newcastle du satsar på 2.

                        <h3 class="info_person">VILKA MARKNADER ÄR 1X2 ANVÄNDS FÖR?</h3>
                        Bookmakers använder 1X2 spel ganska mycket för varje marknad där tre situationer är möjliga. Det används också i europeiska handikapp vadslagning linjer där oavgjort är fortfarande möjligt. En europeisk handikapp skulle normalt vara när ett lag får ett enda mål försprång, men möjligheten att oavgjort är fortfarande möjligt på spelkupongen.

                        <h3 class="info_person">VARFÖR ÄR 1X2 BETTING ANVÄNDS AV BOOKMAKERS?</h3>
                        Förklaringen till varför 1X2 vadslagning är fortfarande populär bland bookmakers är delvis tradition. Många människor, särskilt i Europa har matats 1X2 medicin år efter år. Dessutom, och mycket viktigare; Det är oftast möjligt att pressa ut lite extra ekonomisk vinst av oss spelarna på detta sätt.

                        Om man tittar på de odds som finns på marknaden och jämföra dessa hittar du att till exempel de största fotbollsligorna i Europa handlas till 93-94% i genomsnitt, medan linjer såsom asiatiska handikapp, där man strävar efter att jämna ut möter så mycket som möjligt genom handikapp handlas på en mycket lägre vig.

                    </div>

                </div>

            </div>
        </div>
    </div> <!-- container -->

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/brobook.js"></script>
</body>
</html>
