<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Betslap</title>
  <meta name="description" content="Da shit">
  <meta name="author" content="">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>


    <div class="container">
      <h2>Leagues</h2>            
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Premier League</a></li>
        <li><a href="#">Bundesliga</a></li>
        <li><a href="#">Allsvenskan</a></li>       
      </ul>

      <div class="row">
        <div class="col-md-8 black"> 
          <table class="table table-bordered">
            <thead id="firstTh">

              <tr>
                <th data-field="">Premier League</th>
                <th data-field="" colspan="7">Totalt</th>

              </tr>
              <tr>
                <th data-field="">Lag</th>
                <th data-field="">Ma</th>
                <th data-field="">V</th>
                <th data-field="">O</th>
                <th data-field="">F</th>
                <th data-field="">GM</th>
                <th data-field="">IM</th>
                <th data-field="">P</th>
              </tr>


              <tr id="tablerowContent">
                <th data-field="">Chelsea</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
                <th data-field="">X</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
              </tr>


              <tr id="tablerowContent">
                <th data-field="">Rillvar FC</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
                <th data-field="">X</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
              </tr>

              <tr id="tablerowContent">
                <th data-field="">Adrian hjärta Pontus FC</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
                <th data-field="">X</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
              </tr>

              <tr id="tablerowContent">
                <th data-field="">Mikaela är gravid FC</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
                <th data-field="">X</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
              </tr>


              <tr id="tablerowContent">
                <th data-field="">Daniel förlora budgivningen FC</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
                <th data-field="">X</th>
                <th data-field="">XX</th>
                <th data-field="">XX</th>
                <th data-field="">X</th>
              </tr>


            </thead>
          </table>
        </div>
        <div class="col-md-4 blue"> 

        </div>
        <div class="row">
          <div class="col-md-4 blue"> 

          </div>
        </div>
</div> 
</div> 

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js"></script>
<script src="js/brobook.js"></script>



</body>
</html>
