@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
html,body {
	font-family: 'Ruda', sans-serif;
	height:100%;
	background-size: cover;
}

body{
    background-color: #72B577;
}

.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#F2F2F2;
	color:#fff;
}

ul.nav.navbar-nav.navbar-right > li > button {
    margin-top: 8px;
    margin-right: 10px;
}

/*
.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#F74D49;
}
*/
.navbar-trans a{
	color:#000;
}

	

section {
	/*
	background: url("https://cdnolympic.files.wordpress.com/2014/03/crosby_goal_final.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	padding-top:70px;  
	padding-bottom:50px; 
	min-height:calc(100% - 1px);
}

.b-center {
	padding-top:10%;
	font-size:70px;
}

.well {
	border-color:transparent;
}

#start {
	background-color: #72B577;
	color:#dedeff;
}

#start h1,h3,p,i {

	/*color: #F2F2F2;*/
} 


footer {
	background-color:#494949;
	color:#ddd;
	min-height:100px;
	padding-top:20px;
	padding-bottom:40px;
}

footer .nav>li>a {
	padding:3px;
	color:#ccc;
}

footer .nav>li>a:hover {
	background-color:transparent;
	color:#fff;
}


/*
11BF6E
https://color.adobe.com/sv/stuck-on-you-color-theme-767438/edit/?copy=true&base=2&rule=Custom&selected=3&name=Kopia%20av%20stuck%20on%20you&mode=rgb&rgbvalues=0.94902,0.368627,0.52549,0.066667,0.74902,0.431373,0.94902,0.831373,0.239216,0.94902,0.498039,0.239216,0.94902,0.94902,0.94902&swatchOrder=0,1,2,3,4
https://color.adobe.com/sv/Copy-of-Spring-is-Coming-color-theme-3658784/edit/?copy=true&base=2&rule=Custom&selected=2&name=Kopia%20av%20Copy%20of%20Spring%20is%20Coming&mode=rgb&rgbvalues=0.462745,0.835294,0.858824,0.270588,0.290196,0.396078,0.447059,0.709804,0.466667,0.94902,0.956863,0.937255,0.94902,0.254902,0.313726&swatchOrder=0,1,2,3,4
*/


p{
    margin: 0 0 0 0;
}

.container{
}

.oddsSports{
    margin-top: 40px;
}

.oddsBorder{
    background-color: #F2F2F2;
    text-align: center;
    color: #3a5a3c;
    font-size: 18px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3a5a3c;
    border-color: #3a5a3c;
}

.betBorder{
    text-align: center;
    color: White;
    border-bottom: 1px solid #F2F2F2;
    font-size: 18px;
}

.oddsLeague{
    background-color: #494949;
    color: #72B577;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}

.oddsGames{
    background-color: #494949;
    color: white;
}

.oddsGamesText{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}


.hideBet{
    display: inline-block;
    padding-bottom: 10px;
}

.oneXTwoButtons{
    float: inherit;

}


.oneXTwoButton{
    background-color: #F2F2F2;
    color: #72B577;
    border: 1px solid #72B577;
}


.oneXTwoText{
    vertical-align: top;
    height: 20px;
    color: #000000;
}

.oneXTwoText:active{
    color: white;
}

.oneXTwo{
    height: 17px;
    float: left;
}

.bet1x2{
    color: orange;
    width: 45px;
}

.coupon{
    background-color: #3a5a3c;
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 0;
    color: #ffffff;
    font-size: 12px;
}

.couponContent{
    padding-top: 5px;
    padding-bottom: 3px;
}

.couponInfo{
    display: inline-block;
    margin-top: 5px;
}

.fullTime{
    margin-top: 5px;
}

.couponOdds{
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.couponGame{
    display: inline-block;
    font-size: 15px;
}

.deleteButton{
    display: inline-block;
    float: right;
    background-color: #F2F2F2;
    color: #72B577;
}

.betButton{
    margin-top: 10px;
    outline: none;
    background-color: orange;
    border-color: orange;
}

.betButton:hover{
    background-color: darkorange;
    border-color: darkorange;
}

.total{
    margin-top: 15px;
    color: #ffffff;
}

.totalOdds{
    margin-top: 10px;
}

.totalText{
    display: inline-block;
    font-size: 12px;
}

.totalTextRight{
    float: right;
    display: inline-block;
    font-size: 12px;
}

#betInput{
    outline: none;
    padding-left: 10px;
    text-align: right;
    color: #000000;
}

#totalWin{
    font-size: 18px;
}

.myBets{
}

.header {
	color: #000;
}


#tablerowContent {
	font-size: 10px;
	color:blue;

}

table{
}

.tableHeadline{
    color: orange;
}

.challenge{
    border: 1px solid black;
}
